#nav-site {
	/*background: transparent url(behance/background.png) repeat;*/
	font-family: “Trebuchet MS”, Helvetica, “Helvetica Neue”, Arial, sans-serif;
	color: #fff;
	position: relative;
	height: 48px;
	cursor: default;
	margin-top: -7px;
}

#nav-site ul.menu {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

#nav-site ul.menu li {
	float: left;
	height: 16px;
	text-align: center;
	margin-top: 2px;
	padding: 15px;
	border-right: solid 1px #363636;
}

#nav-site ul.menu li a {
	color: #fff;
	text-decoration: none;
}

#nav-site ul.menu li a:hover {
	text-decoration: underline;
}

#nav-site .tab {
	float: right;
	height: 33px;
	width: auto;
	padding: 0 15px 15px 15px;
	font-size: 12px;
	border-left: solid 1px #363636;
}

#nav-site .tab .tab-category {
	background-color: #666666;
	font-size: 10px;
	font-weight: 700;
	padding: 4px;
	width: 60px;
	display: block;
	text-align: center;
	margin-bottom: 4px;
}

#nav-site .tab strong {
	font-family: “Impact”, Charcoal, sans-serif;
	font-weight: 700;
}

/* @group Dropdown Menu */

#nav-site #menu li {
	margin: 0 5px 0 5px;
	padding: 8px 0 8px;
	float: left;
	position: relative;
	list-style: none;
	border-right: solid 1px #363636;
	height: 34px;
	z-index: 20;
}

/* main level link */

#nav-site #menu a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	display: block;
	padding: 10px 14px;
	margin: 0;
}

/* sub levels link hover */

#nav-site #menu ul li:hover a, #menu li:hover li a {
	background: none;
	border: none;
	color: #fff;
}

/* level 2 list */

#nav-site #menu ul {
	display: none;
	margin: 14px 0 0 0;
	padding: 0px;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
}

/* dropdown */

#nav-site #menu li:hover > ul {
	display: block;
}

#nav-site #menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav-site #menu ul li {
	border-right: 0px;
	background-color: #666;
}

#nav-site #menu ul li:hover, 
#nav-site #menu ul li.nav-submenu-shortcut, 
#nav-site #menu ul li.shortcut-first a:hover {
	background-color: #21759B;
}

#nav-site #menu ul a {
	font-weight: normal;
	font-size: 11px;
	color: #fff;
}

/* level 3+ list */

#nav-site #menu ul ul {
	left: 181px;
	top: -3px;
}

#nav-site #menu ul li.nav-submenu-shortcut {
	background-color: #21759B;
	color: #000;
	font-weight: 700;
}

#nav-site #menu ul li.shortcut-first a {
	background-color: #21759B;
	color: #000;
	font-weight: 700;
}

#nav-site #menu ul li.shortcut-first a {
	border-top: solid 1px #DFDFDF;
	color: #000;
	font-weight: 700;
}

/* @end */

/* @group UI Select */

/*.ui-selectmenu {
	position: relative;
	display: block;
	height: 18px;
	overflow: hidden;
	border: 1px solid #acacac;
	background: #f8f8f8 url(behance/menu-button-gradients.png) repeat-x 0 -1px;
	text-decoration: none
}

.ui-selectmenu:hover {
	text-decoration: none
}

.ui-selectmenu.ui-state-active {
	border-color: #2e2e2e;
	background: #2e2e2e url(behance/tags-gradients.png) repeat-x 0 -101px
}

.ui-selectmenu.ui-state-active .arrow {
	background-position: -10px -34px
}

.ui-selectmenu-disabled {
	background: #cdcdcd;
	cursor: default !important
}

.ui-selectmenu-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px
}

.ui-selectmenu-menu {
	position: absolute;
	top: 0;
	overflow: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	visibility: hidden
}

.ui-selectmenu-open {
	visibility: visible;
	z-index: 999
}

.ui-selectmenu-open.form-select-popup {
	z-index: 900
}

.ui-selectmenu-menu-popup {
	margin-top: -1px
}

.ui-selectmenu-menu-dropdown {
	width: 100%
}

.ui-selectmenu-menu li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0
}

.ui-selectmenu-menu li a,.ui-selectmenu-status {
	display: block;
	padding: 1px 10px;
	color: #3b3b3b;
	outline: none;
	font-size: 11px;
	text-decoration: none
}

.ui-selectmenu-status {
	padding: 2px 24px 2px 8px;
	line-height: 14px;
	font-size: 11px;
	text-decoration: none
}

.ui-selectmenu.ui-selectmenu-medium {
	height: 23px
}

.ui-selectmenu.ui-selectmenu-large {
	height: 27px
}

.ui-selectmenu.ui-selectmenu-medium .ui-selectmenu-status {
	line-height: 16px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px
}

.ui-selectmenu.ui-selectmenu-large  .ui-selectmenu-status {
	line-height: 18px;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px
}

.ui-selectmenu.ui-state-active .ui-selectmenu-status {
	color: #fff
}

.ui-selectmenu-open:hover li.ui-selectmenu-item-selected a {
	background: transparent;
	color: inherit
}

.ui-selectmenu-open:hover li.ui-selectmenu-item-selected a:hover,
.ui-selectmenu-open li.ui-selectmenu-item-focus a,
.ui-selectmenu-open li.ui-selectmenu-item-selected a {
	background: #03b7f9 url(behance/blue-highlight-gradient.png) repeat-x bottom left;
	color: #fff
}

.ui-selectmenu-menu li span,
.ui-selectmenu-status span {
	display: block
}

.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 1em
}

.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	display: block;
	padding: 4px 10px;
	font-size: 11px;
	text-transform: uppercase
}

.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0
}*/

.ui-icon, .ui-icon-gray, .ui-icon-grey { 
	display:block;
	text-indent:-99999px;
	overflow:hidden;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

.myImage {
	margin-bottom: 10px;
}
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }

/* @end */