/*	Simple.css v0.99 by scott romack no rights reserved. If possible keep the Simpl.css file name.
	Please send me buggs and I'll fix em, Shaggy.
			
Naming Convention;
.NoId {                   // CamelCase use only CLASSES, no IDs to avoid precidence errors
  min-width: 999px;       // normal 
 -moz-opcity: 0.9;        // firefox 
 -webkit-opacity: 0.9;    // webkit 
 _width: 999px;           // ie6 hacks 
 *width: 999px;           // ieAll hacks 
XXpadding: 1em;           // comment out
  }*/
/* @group Reset ==========================================>> */
html,body,div,span,h1,h2,h3,h4,h5,h6,hr,p,a,abbr,acronym,address,big,del,em,img,
small,strike,strong,sub,sup,ul,ol,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,optgroup,option {
  margin: 0;padding: 0;border: 0;outline: 0;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
  }
body {
  background: #eee;
  color: #333;
  font:300 14px/15.0px 'Helvetica Neue','lucida grande','tahoma', sans-serif; 
  line-height: 22px;
  }
textarea, input, table, optgroup { /* these guys don't inherit from body?? - I hate repitition */
  font:300 14px/15.0px 'Helvetica Neue','lucida grande','tahoma', sans-serif; 
  }
/* @end ===================================================>> */
/* @group Layout  =========================================>> */
.UnConstrainWidth {
  }
.ConstrainWidth { /* controls the width of vertical chunks */
  max-width: 99em;
 _width: 99em;
  margin: 0 auto;
  }
.ColumnWrapper:after { /* clears the floated columns */
  content: ".";
  display: block;
  height: 0px;
  line-height: 0px;
  clear: both;
  visibility: hidden;
  }
.ColumnWrapper {
 *display: inline-block;
  overflow: hidden;
  height: 100%;
  } 
  /* Columns ==========>> */
  /* Even ==========>> */
  .ColumnOneQuarter {
    float: left;
    width: 25%;
   *width: 24.8%; 
    }
  .ColumnOneHalf {
    float: left;
    width: 50%;
   *width: 49.8%;
    }
  .ColumnThreeQuarters {
    float: left;
    width: 75%;
   *width: 74.8%;
    }
  /* Odd ==========>> */
  .ColumnOneThird {
    float: left;
    width: 33.33%;
   *width: 33.2%;
    }
  .ColumnTwoThirds {
    float: left;
    width: 66.66%;
   *width: 66.5%;
    }
  /* Irrational ==========>> */
  .ColumnGoldenLarge {
    float: left;
    width: 61.8%;
   *width: 61.7%;
    }
  .ColumnGoldenSmall {
    float: left;
    width: 38.2%;
   *width: 38.1%;
    }
  /* Fixed Outer Columns Fluid inner! ==========>> */ 
  .ColumnA {
    float: left;
    width: 250px; 
    }
  .ColumnB {
    float: right;
    width: 125px;
    }
  .ColumnC { /* Main content */ 
    margin: 0 125px 0 250px;
  }
  
/* @end ===================================================>> */
/* @group Utilitys ========================================>> */
.Margin		{margin: 25.0px}
.MarginTop	{margin-top: 25.0px}
.MarginRight	{margin-right: 25.0px}
.MarginBottom	{margin-bottom: 25.0px}
.MarginLeft	{margin-left: 25.0px}
.Padding	{padding: 25.0px}
.PaddingLeft	{padding-left: 15.0px}
.TextRight	{text-align:right}
.TextLeft	{text-align:left}
.Opacity	{opacity:.50;filter:alpha(opacity=50)}
/* @end ===================================================>> */
/* Change or delete whatever below this line, have fun ====================>> */
/* @group Elements ========================================>> */
a {
  color: #58acdc;
  text-decoration: none;
  }
b {
   font-size:2em;
   }
h1,h2,h3,h4,h5,h6 {
  font-weight:100;
  letter-spacing:1.5px;
  line-height:30px;
  } 
h1,h2,h3,h4,h5,h6,p,ol,ul {
  margin-bottom: 15.0px;
  }
br {
  clear: both;
  }
p {
  text-align: justify;
  font-size:1.2em;
  }
h1 {
  font-size:4em;
  }
h1.Round  {
  text-decoration: overline;
  }
h2 {
  font-size: 2.3em; 
  color: #f90;
  }
h3 {
  font-size: 1.2em;
  }
h6 {
  color: #739d4e;
  font:700 1em 'lucida grande','tahoma', sans-serif;
  }
hr {
  border-top: 1px dotted #ddd;
  margin: 1em 0;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 15px;
  table-layout: fixed;
  line-height: 20px;
  }
caption {
  border: 1px solid #ddd;
  border-bottom: 0;
  background: #111 url(../Images/Bg.gif) repeat-x;
  color: #fff;
  padding: 0 0.5em;
  }
thead td {
  font-weight: 700;
  }
td {
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid;
  border-color: #ddd;
  padding: 0 0.5em;
  }
/* Forms ==========>> */
fieldset {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;
  }
form h6 {
  font-weight: 100;
  font-size: 12px;
  }
label {
  float: left;
  clear: left;
  display: block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width: 15%;
  padding-right: 4%;
  margin-bottom: 0.5em;
  }
input[type='text'] {
  width: 80%;
  }  
input {
  margin:-1px -1px  0.2em -1px;
  }
input, textarea {
  border: 1px solid #ddd;
  }
textarea {
  width: 100%;
  height: 8em;
  overflow: auto;
  }
optgroup {
  font-weight: 700;
  margin-bottom: 1em;
  }
optgroup option {
  text-indent: 1em;
  }
button {
  color: #039;
  cursor:pointer;
  }
/* @end ===================================================>> */
/* @group Classes =========================================>> */
.Header {
  padding: 15.0px;
  margin-bottom: 15.0px;
  background: #111 url(../Images/Bg.gif) repeat-x;
  }
.Menu li {
  display: inline;
  }
.Menu a {
  padding: 1px 1px 2px 1px;
  }
.Menu a:hover {
  background: #ff855c;
  }
.Border {
  border: 3px double #ccc;
  margin-top: -1px;
  }
  .Round {
    padding-top: 75px;
    border: 3px double #444;
    background: #222;
    color:#ddd;  
    text-shadow: #000 0 0 3px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;