
.floatleft {
	float: left;
}

.floatright {
	float: right;
}

/* @group Feedback Form */




.feedback_form {
	margin: 15px;
	width: 680px;
	font-family:"Myriad Pro",Helvetica;
}

.feedback_form h3 {
	font-size: 20px;
}

.feedback_form .colleft {
	float: left;
	width: 389px;
	margin-right: 10px;
	padding-right: 20px;
	border-right: 1px solid #c3c3c3;
}

.feedback_form .colright {
	float: right;
	width: 260px;
}
	
.feedback_form .colright p {
	font-size: 12px;
	margin-top: 10px;
}

.feedback_form label, .input, .select, .textarea {
	display: block;
	float: left;
	margin-bottom: 10px;
}

.feedback_form label {
	text-align: right;
	width: 100px;
	padding-right: 20px;
	font-weight:bold; 
    color:#777; 
}
.feedback_form .input, .feedback_form .textarea, .feedback_form .select {  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #f1f1f1;
	border: 1px solid #c3c3c3;
	color: #333333;
	font-size: 18px;
	padding: 2px;
	width: 394px;
	font-family: inherit;
}

.feedback_form input[type="file"], 
.feedback_form input[type="button"], 
.feedback_form input[type="submit"], 
.feedback_form input[type="reset"] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-style:solid;
	border-width:1px;
	font-size: 12px;
}

.feedback_form .submit {
	padding: 5px;
	font-size: 18px !important;
	width: 160px;
}

.button-primary {
	color: #fff !important;
	border-color: #298cba !important;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

.button-primary:hover {
	border-color: #13455b !important;
	color: #EAF2FA !important;
}

.button-secondary {
	border-color: #bbb;
	color: #464646;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

.button-secondary:hover {
	color: #000;
	border-color: #666;
}

/* @end */



/* @group Feedback Tab */

a#fdbk_tab {
  top: 25%;
  left: 0;
  width: 42px;
  height: 102px;
  color: #FFF;
  cursor: pointer;
  text-indent: -100000px;
  overflow: hidden;
  position: fixed;
  z-index: 100000;
  margin-left: -7px;
  background-image: url(/images/unfuddle/feedback_trans_tab.png);
  _position: absolute;
  _background-image: url(/images/unfuddle/feedback_tab_ie6.png); }
  a#fdbk_tab:hover {
    margin-left: -4px; }

a.fdbk_tab_right {
  right: 0 !important;
  left: auto !important;
  margin-right: 0 !important;
  margin-left: auto !important;
  width: 35px !important; }
  a.fdbk_tab_right:hover {
    width: 38px !important;
    margin-right: 0 !important;
    margin-left: auto !important; }

a.fdbk_tab_bottom {
  top: auto!important;
  bottom: 0 !important;
  left: 20% !important;
  height: 38px !important;
  width: 102px !important;
  background-position: 0 -102px !important;
  margin-bottom: -7px !important;
  margin-left: auto !important; }
  a.fdbk_tab_bottom:hover {
    margin-bottom: -4px !important;
    margin-left: auto !important; }

a.fdbk_tab_hidden {
  display: none !important; }

/* @end */




/* @group Colorbox */

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/

#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
	overflow: hidden;
}

#cboxLoadedContent {
	overflow: auto;
}

#cboxLoadedContent iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/

#cboxOverlay {
	background: url(images/overlay.png) 0 0 repeat;
}

#colorbox {
	
}

#cboxTopLeft {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) -100px 0 no-repeat;
}

#cboxTopRight {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) -129px 0 no-repeat;
}

#cboxBottomLeft {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) -100px -29px no-repeat;
}

#cboxBottomRight {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) -129px -29px no-repeat;
}

#cboxMiddleLeft {
	width: 21px;
	background: url(images/controls.png) left top repeat-y;
}

#cboxMiddleRight {
	width: 21px;
	background: url(images/controls.png) right top repeat-y;
}

#cboxTopCenter {
	height: 21px;
	background: url(images/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
	height: 21px;
	background: url(images/border.png) 0 -29px repeat-x;
}

#cboxContent {
	background: #fff;
}

#cboxLoadedContent {
	margin-bottom: 28px;
}

#cboxTitle {
	position: absolute;
	bottom: 3px;
	left: 0;
	text-align: center;
	width: 100%;
	color: #949494;
}

#cboxCurrent {
	position: absolute;
	bottom: 3px;
	left: 58px;
	color: #949494;
}

#cboxSlideshow {
	position: absolute;
	bottom: 3px;
	right: 30px;
	color: #0092ef;
}

#cboxPrevious {
	position: absolute;
	bottom: 0;
	left: 0px;
	background: url(images/controls.png) -75px 0px no-repeat;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxPrevious.hover {
	background-position: -75px -25px;
}

#cboxNext {
	position: absolute;
	bottom: 0;
	left: 27px;
	background: url(images/controls.png) -50px 0px no-repeat;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxNext.hover {
	background-position: -50px -25px;
}

#cboxLoadingOverlay {
	background: url(images/loading_background.png) center center no-repeat;
}

#cboxLoadingGraphic {
	background: url(images/loading.gif) center center no-repeat;
}

#cboxClose {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(images/controls.png) -25px 0px no-repeat;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxClose.hover {
	background-position: -25px -25px;
}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/


/* @end */


