/* ---------------------------------------------
	LASTFM.CSS
-----------------------------------------------*/

#lastfm dl{
	position:relative;
	float:left;
	width:140px;
	height:64px;
	padding:8px 8px 8px 80px;
	margin:0 20px 20px 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:solid 1px #333;
	background:#1a1a1a;
	}
#lastfm dl:hover,
#lastfm dl.hover{
	padding:7px 7px 7px 79px;
	border:solid 2px #444;
	cursor:pointer;
	}
#lastfm dl:hover dt,
#lastfm dl.hover dt{
	left:7px;
	top:7px;
	}

#lastfm dl dt{
	position:absolute;
	left:8px;
	top:8px;
	width:64px;
	height:64px;
	}
#lastfm dl dt a{
	position:absolute;
	top:0;
	left:0;
	width:64px;
	height:64px;
	z-index:100;
	}
#lastfm dl dt a:hover{
	background:none;
	}

#lastfm .lfm_art img{
	width:64px;
	height:64px;
	}

#lastfm dl dd.lfm_song{
	font-weight:bold;
	font-size:12px;
	padding-bottom:6px;
	white-space:nowrap;
	overflow:hidden;
	}
#lastfm dl dd.lfm_artist,
#lastfm dl dd.lfm_album{
	color:#999;
	}