# This turns on mod_rewrite and redirects any paths that don't physically exist
# to /index.php. You can then access that path info (to determine what to do) in
# PHP using $_SERVER['REQUEST_URI'] and $_SERVER['REDIRECT_URL']. This is an easy
# way to avoid having hundreds of rewrite rules slowing down Apache and making things
# more complicated than they should be.

# Note: If you're having trouble making Apache pickup your .htaccess file,
# make sure AllowOverride is set to "All" instead of "None".

RewriteEngine on
RewriteBase /

# Add www rule
# RewriteCond %{HTTP_HOST} ^example.com$ [NC]
# RewriteRule ^(.*)$ http://www.example.com/$1 [R=301,L]

# Remove www rule
RewriteCond %{HTTP_HOST} ^www.example.com$ [NC]
RewriteRule ^(.*)$ http://example.com/$1 [R=301,L]

# Trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [R=301,NC,L]

# Secure directories
RewriteRule ^(application|system) index.php/$1 [L]
RedirectMatch 404 /\.git(/|$)
RedirectMatch 404 /\.svn(/|$)
RedirectMatch 404 /assets/(/|$)
RedirectMatch 404 /controller/(/|$)
RedirectMatch 404 /docs/(/|$)
RedirectMatch 404 /lib/(/|$)
RedirectMatch 404 /logs/(/|$)
RedirectMatch 404 /pages/(/|$)
RedirectMatch 404 /system/(/|$)
RedirectMatch 404 /temp/(/|$)
RedirectMatch 404 /views/(/|$)

# devbox bootstrap
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [QSA,L]
# RewriteRule ^(.*)$ /index.php [L,QSA]

# gzip compression.
<IfModule mod_deflate.c>
  # html, xml, css, and js:
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
  # webfonts and svg:
  <FilesMatch ".(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

# Force PDF download
<FilesMatch "\.(?i:pdf)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>

# redirect 301 /index.php /mailchimp.php
# redirect 301 /search /therapists/search