/* @group General Settings */
div.wrapper {
	min-width: 940px;
	padding-top: 80px;
}
.topbar {
    height: 40px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.topbar div > ul.secondary-nav, .nav.secondary-nav {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
div#moreOptions {
	margin-top: 100px;
}
div#rowOption {
	position: relative;
	min-height: 44px;
}
div.optionChoice {
	position: absolute;
}
ol#viewOptions li {
	width: 220px;
}
ol#viewOptions li a.removeOption {
	margin-left: 10px;
}
/* @end */

/* @group Range Slider */
.slider,
.dateSlider{
	width:100%;
	margin:20px auto;
	padding-top:20px;
}
/* @end */

