html, body {
	margin: 0;
	height: 100%;
}

/* @group Tyopgraphy */

body {
	font: 11px/21px "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
	min-width: 1000px;
	color: #777;
	background: #333;
}
h1, h2, h3, h4, h5, h6 {
	/*font-family: CopseRegular;*/
	font: Upright;
}
h1 {
	margin: 0 0 7px;
	line-height: 22px;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}
h2 {
	margin: 0 0 8px;
	line-height: 20px;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
}
h3 {
	margin: 0 0 8px;
	line-height: 20px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}
h4 {
	margin: 0 0 9px;
	padding: 1px 0 0;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}
h5 {
	margin: 0 0 9px;
	padding: 1px 0 0;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
h6 {
	margin: 0 0 9px;
	padding: 1px 0 0;
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
}
h1.big, h2.big, h3.big, 
h4.big, h5.big h6.big {
	font-size: 40px; 

}
img {border-style: none;}
a {
	text-decoration: none;
	color: #777;
}
a:hover {color: #fff;}

em {
	color: #ffffff;
    font-size: 1.2em;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    padding: 1em 0.25em 0;
}
.white {
	color: white !important;
}
/* @end */

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input, textarea, select {
	font: 11px/14px Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #777;
}
.hidden {
	display: none;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.top-line {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 5px;
	width: 100%;
	min-width: 1000px;
	background: #000;
}
/* page */
#wrapper {
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: 100%;
}
* html #wrapper {
	overflow: visible;
	width: auto;
	height: 100%;
}
*+html #wrapper {
	overflow: visible;
	width: auto;
	height: 100%;
}
#slide-block {width: 880px;}
#slide-block.active {width: 1000px;}
#slide-block:after {
	content: "";
	display: block;
	clear: both; 
}
#bg {
	overflow: hidden;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}
.menu-opener {
	position: fixed;
	z-index: 50;
	top: 50px;
	left: 0;
	overflow: hidden;
	margin: 0 0 0 30px;
	width: 9px;
	height: 9px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/bg-open.png) no-repeat;
}
.menu-opener:hover {background: url(/assets/images/mimino/bg-open-hover.png) no-repeat;}
#slide-block.active .menu-opener {
	margin: 0 0 0 160px;
	background: url(/assets/images/mimino/bg-close.png) no-repeat;
}
#slide-block.active .menu-opener:hover {background: url(/assets/images/mimino/bg-close-hover.png) no-repeat;}
/* header */
#header {
	display: none;
	position: fixed;
	z-index: 50;
	top: 45px;
	left: 0;
	padding: 0 0 0 30px;
	width: 130px;
}
#slide-block.active #header {display: block;}
/* logo */
.logo {
	display: block;
	overflow: hidden;
	margin: 0 0 35px;
	width: 95px;
	height: 23px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/logo.png) no-repeat;
}
.logo a {
	display: block;
	position: relative;
	height: 100%;
}
/* main navigation */
#nav {
	margin: 0 0 35px;
	border: solid #111;
	border-width: 1px 0;
	padding: 35px 0;
	list-style: none;
}
#nav li {line-height: 18px;}
#nav ul {
	padding: 0 0 0 6px;
}
#nav ul li {
	padding: 0 0 0 8px;
	background: url(/assets/images/mimino/bullet-nav-sub.gif) no-repeat 0 9px;
}
#nav li a.active {color: #fff;}
#nav .has-drop a {
	outline: none;
	padding: 0 16px 0 0;
	background: url(/assets/images/mimino/bullet-more.png) no-repeat 100% 6px;
}
#nav .has-drop a.active {background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 6px;}
#nav .has-drop a:hover {
	color: #fff;
	background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 6px;
}
#nav li a.ui-state-active {
	color: #fff;
	background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 6px;
}
#nav ul li a,
#nav .has-drop ul li a {
	padding: 0;
	color: #777;
	background: none;
}
#nav ul li a:hover,
#nav .has-drop ul li a:hover {
	color: #fff;
	background: none;
}
/* contact box */
.contact-box {
	display: none;
	position: fixed;
	z-index: 50;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0 0 30px;
	width: 160px;
	line-height: 18px;
}
#slide-block.active .contact-box {display: block;}
.contact-box .area {
	margin: 0 0 0 30px;
	border-bottom: 1px solid #111;
	padding: 0 0 20px;
	width: 130px;	
}
/* address */
.contact-box address {
	margin: 0 0 10px;
	padding: 0;
	line-height: 16px;
	font-style: normal;
}
.contact-box p {margin: 0 0 10px;}
/* social nav */
.social-nav {
	overflow: hidden;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
	list-style: none;
}
.social-nav li {
	float: left;
	margin: 0 1px 0 0;
}
.social-nav a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
}
.social-nav a.facebook {background: url(/assets/images/mimino/icon-facebook.png) no-repeat;}
.social-nav a.twitter {background: url(/assets/images/mimino/icon-twitter.png) no-repeat;}
.social-nav a.google-plus {background: url(/assets/images/mimino/icon-google-plus.png) no-repeat;}
.social-nav a.dribble {background: url(/assets/images/mimino/icon-dribble.png) no-repeat;}
.social-nav a.youtube {background: url(/assets/images/mimino/icon-youtube.png) no-repeat;}
.social-nav a.facebook:hover {background: url(/assets/images/mimino/icon-facebook-hover.png) no-repeat;}
.social-nav a.twitter:hover {background: url(/assets/images/mimino/icon-twitter-hover.png) no-repeat;}
.social-nav a.google-plus:hover {background: url(/assets/images/mimino/icon-google-plus-hover.png) no-repeat;}
.social-nav a.dribble:hover {background: url(/assets/images/mimino/icon-dribble-hover.png) no-repeat;}
.social-nav a.youtube:hover {background: url(/assets/images/mimino/icon-youtube-hover.png) no-repeat;}
.major-holder {
	position: relative;
	float: right;
	width: 811px;
}
.major-area {
	position: relative;
	margin: 0 0 0 -189px;
	padding: 0 0 0 189px;
	width: 811px;
	background: url(/assets/images/mimino/bg-major-holder.png) repeat-y;
}
.major-frame {
	position: relative;
	padding: 0 30px 0 31px;
	width: 750px;
	/*background: rgba(5,2,0,0.85);*/
	/*background: url(/assets/images/mimino/bg-major-area.gif) repeat-y;*/
}
/* main */
#main {padding: 45px 0 10px;}
/* intro */
.intro {
	padding: 16px 0 8px;
	line-height: 18px;
	font-size: 12px;
	color: #777;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.intro h1 {
	margin: 0;
	color: #fff;
	font-weight: bold;
}
.intro p {margin: 0 0 18px;}
/* slider */
.slider {
	position: relative;
	margin: 0 0 26px;
	width: 750px;
}
.slider .frame {
	position: relative;
	overflow: hidden;
	margin: 0 0 20px;
	width: 750px;
}
.slider .frame ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 99999px;
	list-style: none;
}
.slider .frame ul li {
	float: left;
	width: 750px;
}
.slider .frame ul li img {display: block;}
.slider .link-prev,
.slider .link-next {
	position: absolute;
	z-index: 5;
	top: 135px;
	left: 20px;
	overflow: hidden;
	width: 40px;
	height: 41px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/bg-slider-prev.png) no-repeat;
}
.slider .link-next {
	left: auto;
	right: 20px;
	background: url(/assets/images/mimino/bg-slider-next.png) no-repeat;
}
.slider .switcher {
	overflow: hidden;
	width: 100%;
}
.slider .switcher ul {
	position: relative;
	left: 50%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
.slider .switcher ul li {
	position: relative;
	right: 50%;
	float: left;
	margin: 0 2px;
}
.slider .switcher ul li a {
	display: block;
	overflow: hidden;
	width: 11px;
	height: 11px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/bg-slider-switcher.png) no-repeat;
}
.slider .switcher ul li a:hover,
.slider .switcher ul li.active a {background: url(/assets/images/mimino/bg-slider-switcher-active.png) no-repeat;}
/* columns */
.columns {
	overflow: hidden;
	padding: 0 0 4px;
	width: 750px;
}
.columns .holder {
	overflow: hidden;
	width: 780px;
}
.columns .column,
.columns .column-14,
.columns .column-13,
.columns .column-24,
.columns .column-23 {
	display: inline-block;
	margin: 0 27px 0 0;
	vertical-align: top;
	width: 750px;
}
.columns .column-14 {width: 165px;}
.columns .column-13 {width: 230px;}
.columns .column-24 {width: 360px;}
.columns .column-23 {width: 490px;}
#content .columns {
	padding: 2px 0 0;
	width: 520px;
}
#content .columns .holder {width: 540px;}
#content .columns .column,
#content .columns .column-14,
#content .columns .column-13,
#content .columns .column-24,
#content .columns .column-23 {
	margin: 0 17px 0 0;
	width: 520px;
}
#content .columns .column-14 {width: 115px;}
#content .columns .column-13 {width: 160px;}
#content .columns .column-24 {width: 250px;}
#content .columns .column-23 {width: 340px;}
.post .columns h5 {
	margin: 0 0 4px;
	font-weight: normal;
	color: #fff;
}
.more {
	padding: 0 13px 0 0;
	background: url(/assets/images/mimino/bullet-more.png) no-repeat 100% 6px;
}
.more:hover {background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 6px;}
/* main heading */
.main-heading {
	padding: 17px 0 16px;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.main-heading h5 {
	margin: 0;
	font-weight: bold;
	color: #fff;
}
.main-heading .more {
	float: right;
	margin: 0 1px 0 0;
	padding: 0 13px 0 0;
	line-height: 18px;
	background: url(/assets/images/mimino/bullet-more.png) no-repeat 100% 8px;
}
.main-heading .more:hover {background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 8px;}
/* about box */
.about-box {
	padding: 0 0 9px;
	overflow: hidden;
	width: 100%;
}
.about-box h6 {
	margin: 0 0 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.about-box h6 a {color: #fff;}
.about-box p {margin: 0 0 11px;}
.about-box .icon {
	float: left;
	margin: 7px 9px 7px 0;
}
/* project box */
.project-box {padding: 0 0 9px;}
.project-box .visual {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 0 16px;
	width: 230px;
	height: 170px;
}
.column-24 .project-box .visual {
	width: 360px;
	height: 260px;
}
.column-14 .project-box .visual {
	width: 165px;
	height: 125px;
}
.project-box .visual img {
	display: block;
	width: 100%;
	height: 100%;
}
.project-box h6 {
	margin: 0 0 3px;
	font-weight: bold;
	text-transform: uppercase;
}
.project-box h6 a {color: #fff;}
.project-box p {margin: 0 0 11px;}
.project-box .date {
	display: block;
	padding: 2px 0 2px 24px;
	font-style: normal;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
	background: url(/assets/images/mimino/bg-date.png) no-repeat 0 17px;
}
/* team box */
.team-box {
	padding: 0 0 20px;
}
.team-box .visual {margin: 0 0 16px;}
.team-box .visual img {display: block;}
.team-box .visual a:hover .img {display: none;}
.team-box .visual a .img-hover {display: none;}
.team-box .visual a:hover .img-hover {display: block;}
.team-box h6 {
	margin: 0;
	font-weight: normal;
	color: #777;
}
.team-box h6 a {color: #fff; 	font-weight: bold; 	text-transform: uppercase;}
.team-box .personal-contact {
	padding: 10px 0 9px;
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
}
.team-box .personal-contact p {margin: 0;}
.team-box ul {
	margin: 0;
	padding: 0 0 0 6px;
	list-style: none;
}
.team-box li a {
	padding: 0 0 0 17px;
	background: url(/assets/images/mimino/bullet-more.png) no-repeat 0 6px;
}
.team-box li a:hover {background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 0 6px;}
/* image hovers */
.hover1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover1 {background: url(/assets/images/mimino/bg-hover1-bg.png);}
.hover1 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 61px;
	text-indent: -9999px;
}
.visual:hover .hover1 .inside {background: url(/assets/images/mimino/bg-hover1-front.png) no-repeat;}
.hover2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover2 {background: url(/assets/images/mimino/bg-hover2-bg.png);}
.hover2 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -30px 0 0 -30px;
	width: 61px;
	height: 61px;
	text-indent: -9999px;
}
.visual:hover .hover2 .inside {background: url(/assets/images/mimino/bg-hover2-front.png) no-repeat;}
.hover3 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 23px;
	font-size: 10px;
	text-transform: uppercase;
}
.visual:hover .hover3,
.hover .hover3 {display: block;}
.hover3 .inside {
	display: table;
	width: 100%;
	height: 100%;
	background: url(/assets/images/mimino/bg-hover3-bg.png);
}
* html .hover3 .inside {position: relative;}
*+html .hover3 .inside {position: relative;}
.hover3 .area {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}
* html .hover3 .area {
	position: absolute;
	top: 50%;
}
*+html .hover3 .area {
	position: absolute;
	top: 50%;
}
.hover3 .object {padding: 0 10px;}
* html .hover3 .object {
	position: relative;
	top: -50%;
}
*+html .hover3 .object {
	position: relative;
	top: -50%;
}
.hover3 p {margin: 0;}
.hover3 .title {
	display: block;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
}
.hover3 a {
	text-decoration: none;
	color: #fff;
}
.hover3 a:hover {color: #fff;}
.hover3 p em {
	font-style: italic;
	text-transform: none;
}
.hover4 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 21px;
	font-size: 11px;
}
.visual:hover .hover4,
.hover .hover4 {display: block;}
.hover4 .inside {
	display: table;
	width: 100%;
	height: 100%;
	background: url(/assets/images/mimino/bg-hover3-bg.png);
}
* html .hover4 .inside {position: relative;}
*+html .hover4 .inside {position: relative;}
.hover4 .area {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
* html .hover4 .area {
	position: absolute;
	top: 50%;
}
*+html .hover4 .area {
	position: absolute;
	top: 50%;
}
.hover4 .object {padding: 0 10px;}
* html .hover4 .object {
	position: relative;
	top: -50%;
}
*+html .hover4 .object {
	position: relative;
	top: -50%;
}
.hover4 p {margin: 0 0 5px;}
.hover4 .title {
	display: block;
	margin: 0 0 7px;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.hover4 a {
	text-decoration: none;
	color: #fff;
}
.hover4 a:hover {color: #fff;}
.hover4 .more,
.hover4 .more:hover {background: url(/assets/images/mimino/bullet-more-white.png) no-repeat 100% 6px;}
.hover5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover5 {background: url(/assets/images/mimino/bg-hover5-bg.png);}
.hover5 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -6px 0 0 -11px;
	width: 22px;
	height: 11px;
	text-indent: -9999px;
}
.visual:hover .hover5 .inside {background: url(/assets/images/mimino/bg-hover5-front.png) no-repeat;}
.hover6 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover6 {background: url(/assets/images/mimino/bg-hover6-bg.png);}
.hover6 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -8px 0 0 -8px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
}
.visual:hover .hover6 .inside {background: url(/assets/images/mimino/bg-hover6-front.png) no-repeat;}
.hover7 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover7 {background: url(/assets/images/mimino/bg-hover7-bg.png);}
.hover7 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -5px 0 0 -9px;
	width: 17px;
	height: 10px;
	text-indent: -9999px;
}
.visual:hover .hover7 .inside {background: url(/assets/images/mimino/bg-hover7-front.png) no-repeat;}
.hover8 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.visual:hover .hover8 {background: url(/assets/images/mimino/bg-hover8-bg.png);}
.hover8 .inside {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -12px 0 0 -13px;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}
.visual:hover .hover8 .inside {background: url(/assets/images/mimino/bg-hover8-front.png) no-repeat;}
p {margin: 0 0 9px;}
/* heading */
.page-heading {
	overflow: hidden;
	margin: 0 0 20px;
	border-bottom: 1px solid #333;
	padding: 17px 0 8px;
	width: 100%;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.page-heading h4 {
	margin: 0 0 8px;
	font-weight: bold;
	color: #fff;
}
/* navigation */
.top-nav {
	float: right;
	margin: 0;
	padding: 0 0 6px;
	list-style: none;
}
.top-nav li {
	float: left;
	margin: 0 0 0 6px;
	padding: 0 0 0 9px;
	line-height: 20px;
	background: url(/assets/images/mimino/bullet-nav-sub.gif) no-repeat 0 50%;
}
.top-nav li:first-child {background: none;}
.sub-nav {
	display: none;
	position: relative;
	overflow: hidden;
	clear: both;
	margin: 16px 0 0;
	border-top: 1px solid #333;
	padding: 7px 0 0;
	width: 100%;
}
.page-heading .active .sub-nav {display: block;}
.sub-nav .area {
	float: right;
	width: 200px;
}
.sub-nav .title {
	display: block;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}
.sub-nav .close {
	display: block;
	overflow: hidden;
	margin: 2px 0 0;
	width: 9px;
	height: 9px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/bg-close.png) no-repeat;
}
.sub-nav .close:hover {background: url(/assets/images/mimino/bg-close-hover.png) no-repeat;}
.sub-nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 520px;
	list-style: none;
}
.sub-nav ul li {
	float: left;
	margin: 0 18px 0 0;
}
.sub-nav .nav2 li {
	margin: 0 9px 0 -9px;
	padding: 0 6px 0 9px;
	background: url(/assets/images/mimino/bullet-nav-sub.gif) no-repeat 0 11px;
}
.sub-nav .nav3 li {margin: 0 15px 0 0;}
.form-search2 {
	position: relative;
	padding: 7px 0 5px;
	width: 520px;
}
.form-search2 .text {
	overflow: hidden;
	border: 1px solid #333;
	padding: 0 40px 0 18px;
	width: 460px;
	background: #222;
}
.form-search2 .text input {
	outline: none;
	float: left;
	margin: 0;
	border-style: none;
	padding: 7px 0;
	width: 100%;
	background: #222;
}
.form-search2 .submit {
	position: absolute;
	top: 18px;
	right: 20px;
	overflow: hidden;
	margin: 0;
	border-style: none;
	padding: 0;
	width: 5px;
	height: 9px;
	text-indent: -9999px;
	line-height: 0;
	font-size: 0;
	background: url(/assets/images/mimino/btn-submit2.png) no-repeat;
	cursor: pointer;
}
.form-search2 .submit:hover,
.form-search2 .hover {background-position: 0 -9px;}
/* heading */
.content-heading {
	margin: 0 0 20px;
	padding: 6px 0 17px;
	background: url(/assets/images/mimino/sep.png) no-repeat 0 100%;
}
.content-heading h4 {
	margin: 0;
	font-weight: bold;
	color: #fff;
}
.content-corr1 {
	margin: -5px 0 0;
	padding: 0 0 1px;
}
.content-corr2 {
	margin: -7px 0 0;
	padding: 0 0 5px;
}
.content-corr3 {
	margin: -7px 0 0;
	padding: 0 0 4px;
}
.content-corr3 p {margin: 0 0 6px;}
.content-corr4 {padding: 0 0 2px;}
.content-corr5 {padding: 2px 0 0;}
.content-corr6 {margin: 0 0 -9px;}
.content-corr7 {margin: -5px 0 0;}
/* quote */
.quote {
	margin: 12px 0 12px 20px;
	border-left: 2px solid #222;
	padding: 0 0 0 20px;
	font: italic 12px/21px Georgia, Timas, serif;
}
.quote q {
	quotes: none;
	display: block;
}
.quote q:before,
.quote q:after {content:"";}
/* list1 */
.list1 {
	margin: 0;
	padding: 0 0 1px 16px;
	list-style: none;
}
.list1 li {
	padding: 0 0 0 21px;
	line-height: 23px;
	background: url(/assets/images/mimino/bullet-list1.png) no-repeat 0 10px;
}
/* list2 */
.list2 {
	margin: 0;
	padding: 0 0 1px 16px;
	list-style: none;
}
.list2 li {
	padding: 0 0 0 16px;
	line-height: 23px;
	background: url(/assets/images/mimino/bullet-list2.png) no-repeat 0 9px;
}
/* service box */
.service-box {padding: 0;}
.service-box .icon {
	margin: 0 0 10px;
	text-align: center;
}
.service-box .icon img {vertical-align: top;}
.service-box h6 {
	margin: 0 0 7px;
	padding: 0 0 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: url(/assets/images/mimino/sep.png) no-repeat 50% 100%;
}
.service-box ul {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	text-align: center;
}
/* info box */
.info-box {
	position: relative;
	margin: 0 0 20px;
	width: 100%;
}
.info-box .blue {color: #61a3ef;}
.info-box .green {color: #6ad05a;}
.info-box .yellow {color: #d5c921;}
.info-box .red {color: #d05a5c;}
.info-box .corner {
	position: absolute;
	overflow: hidden;
	width: 3px;
	height: 3px;
	text-indent: -9999px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.info-box .blue .corner {background-image: url(/assets/images/mimino/bg-info-box-blue-corners.png);}
.info-box .green .corner {background-image: url(/assets/images/mimino/bg-info-box-green-corners.png);}
.info-box .yellow .corner {background-image: url(/assets/images/mimino/bg-info-box-yellow-corners.png);}
.info-box .red .corner {background-image: url(/assets/images/mimino/bg-info-box-red-corners.png);}
.info-box .tl {
	top: 0;
	left: 0;
	background-position: 0 0;
}
.info-box .tr {
	top: 0;
	right: 0;
	background-position: -3px 0;
}
.info-box .bl {
	bottom: 0;
	left: 0;
	background-position: 0 -3px;
}
.info-box .br {
	bottom: 0;
	right: 0;
	background-position: -3px -3px;
}
.info-box .bg {
	padding: 13px 10px 14px 63px;
	height: 1%;
}
.info-box .blue .bg {
	border: 1px solid #9fc7f5;
	background: #dbecff url(/assets/images/mimino/bg-info-box-blue.gif) no-repeat;
}
.info-box .green .bg {
	border: 1px solid #9adf8f;
	background: #d4ffcd url(/assets/images/mimino/bg-info-box-green.gif) no-repeat;
}
.info-box .yellow .bg {
	border: 1px solid #e5db55;
	background: #fefccb url(/assets/images/mimino/bg-info-box-yellow.gif) no-repeat;
}
.info-box .red .bg {
	border: 1px solid #df8f90;
	background: #ffd2d3 url(/assets/images/mimino/bg-info-box-red.gif) no-repeat;
}
/* accordion */
.accordion {
	margin: 0 0 16px;
	padding: 0;
	list-style: none;
}
.accordion li {
	margin: 0 0 1px;
	border: 1px solid #222;
	line-height: 18px;
	font-size: 11px;
	background: #333;
}
.accordion a {
	display: block;
	padding: 5px 19px;
	height: 1%;
	background: url(/assets/images/mimino/bg-open.png) no-repeat 91.5% 10px;
}
.accordion a:hover {background: url(/assets/images/mimino/bg-open-hover.png) no-repeat 91.5% 10px;}
.accordion  a.active {background: url(/assets/images/mimino/bg-close.png) no-repeat 91.5% 10px;}
/*.accordion  a:hover {background: url(/assets/images/mimino/bg-close-hover.png) no-repeat 91.5% 10px;}*/
.accordion .slide {border-top: 1px solid #222;}
.accordion .area {padding: 11px 19px 18px;}
.accordion .slide a,
.accordion .active .slide a {
	display: inline;
	padding: 0;
	height: auto;
	background: none;
}
/* tabs */
.tabset {
	position: relative;
	overflow: hidden;
	margin: 0 0 -1px;
	padding: 0;
	width: 100%;
	list-style: none;
}
.tabset li {
	float: left;
	margin: 0 1px 0 0;
	line-height: 18px;
	font-size: 11px;
}
.tabset li a {
	float: left;
	border: 1px solid #222;
	padding: 5px 19px 6px 19px;
	height: 1%;
	background: #444;
}
.tabset li a:hover,
.tabset li.active a{
	position: relative;
	border-bottom: none;
	padding: 5px 19px 7px 19px;
	color: #777;
	background: #333;
}
.tabset li a:hover {color: #ccc;}
.tab-holder {
	margin: 0 0 16px;
	border: 1px solid #222;
	padding: 10px 11px 18px 19px;
	height: 1%;
	line-height: 18px;
	font-size: 11px;
	background: #333;
}
/* top links */
.top-link-row {
	overflow: hidden;
	padding: 4px 0 15px;
	width: 100%;
	line-height: 18px;
	font-size: 10px;
}
.top-link-row a {
	position: relative;
	float: right;
	cursor: pointer;
}
.top-link-row .sep {
	position: absolute;
	top: 5px;
	left: -754px;
	height: 11px;
	width: 750px;
	background: url(/assets/images/mimino/sep.png) repeat-x 0 50%;
}
.buttons-row {
	overflow: hidden;
	padding: 5px 0 15px;
	width: 100%;
}
/* btn */
.btn {
	float: left;
	overflow: hidden;
	height: 30px;
	cursor: pointer;
}
.btn .l {
	float: left;
	padding: 0 10px 0 16px;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	background: url(/assets/images/mimino/btn.png) no-repeat 0 -120px;
}
.btn .r {
	float: left;
	width: 5px;
	height: 30px;
	background: url(/assets/images/mimino/btn.png) no-repeat 100% -120px;
}
.btn-green, .btn-green:hover {color: #5d7731;}
.btn-green .l {background: url(/assets/images/mimino/btn.png) no-repeat;}
.btn-green .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% 0;}
.btn-green:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -30px;}
.btn-green:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -30px;}
.btn-black, .btn-black:hover {color: #fff;}
.btn-black .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -60px;}
.btn-black .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -60px;}
.btn-black:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -90px;}
.btn-black:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -90px;}
.btn-grey, .btn-grey:hover {color: #555;}
.btn-grey .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -120px;}
.btn-grey .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -120px;}
.btn-grey:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -150px;}
.btn-grey:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -150px;}
.btn-orange, .btn-orange:hover {color: #963;}
.btn-orange .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -180px;}
.btn-orange .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -180px;}
.btn-orange:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -210px;}
.btn-orange:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -210px;}
.btn-pink, .btn-pink:hover {color: #913944;}
.btn-pink .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -240px;}
.btn-pink .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -240px;}
.btn-pink:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -270px;}
.btn-pink:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -270px;}
.btn-blue, .btn-blue:hover {color: #42788e;}
.btn-blue .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -300px;}
.btn-blue .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -300px;}
.btn-blue:hover .l {background: url(/assets/images/mimino/btn.png) no-repeat 0 -330px;}
.btn-blue:hover .r {background: url(/assets/images/mimino/btn.png) no-repeat 100% -330px;}
/* project block */
.project-block {
	overflow: hidden;
	padding: 0 0 27px;
	width: 100%;
}
.project-block .visual {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 30px 0 0;
	width: 520px;
	height: 325px;
}
.project-block .visual img {display: block;}
.project-block .info {
	display: table;
	padding: 14px 0 0;
	height: 1%;
	line-height: 18px;
	font-size: 11px;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.project-block .info h6 {
	margin: 0 0 2px;
	line-height: 21px;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
.project-block .info p {margin: 0 0 8px;}
.project-block .info ul {
	margin: 0 0 8px;
	padding: 0;
	list-style: none;
}
.main-holder {
	overflow: hidden;
	width: 100%;
}
/* content */
#content {
	float: left;
	width: 520px;
}
/* post */
.post {padding: 6px 0;}
.post .title h4 {
	margin: 0 0 11px;
	font-weight: bold;
	color: #fff;
}
.post h4 a {color: #fff;}
.post h4 a:hover {text-decoration: none;}
.post .meta {
	overflow: hidden;
	margin: 0 0 16px;
	padding: 0;
	width: 100%;
	list-style: none;
}
.post .meta li {
	float: left;
	margin: 0 8px 0 -8px;
	padding: 0 7px 0 8px;
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
	background: url(/assets/images/mimino/sep-meta.png) no-repeat 0 50%;
}
.post .meta li a {color: #fff;}
.post .meta li a:hover {text-decoration: underline;}
/* images */
.post .aligncenter {
	display: block;
	margin: 0 0 13px;
}
.post .aligncenter img,
.post .alignleft img,
.post .alignright img {vertical-align: top;}
/* heading */
.post-heading {
	margin: 24px 0 0;
	padding: 16px 0 0;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.post .post-heading h4 {
	margin: 0 0 9px;
	padding: 1px 0 0;
	font-weight: bold;
	color: #fff;
}
.post .alignleft {
	float: left;
	margin: 7px 20px 10px 0;
}
* html .post .alignleft {margin: 7px 17px 10px 0;}
*+html .post .alignleft {margin: 7px 17px 10px 0;}
.post .alignright {
	float: right;
	margin: 7px 0 10px 20px;
}
* html .post .alignright {margin: 7px 0 10px 17px;}
*+html .post .alignright {margin: 7px 0 10px 17px;}
/* social */
.social-buttons {padding: 15px 0 25px;}
.social-buttons img {vertical-align: top;}
/* tags */
.tags-row {
	margin: 0 0 16px;
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
}
.tags-list {display: inline;}
.tags-list li {
	display: inline;
	color: #fff;
}
.tags-list li a {color: #fff;}
.tags-list li a:hover {text-decoration: underline;}
/* author */
.author-box {
	overflow: hidden;
	margin: 0 0 15px;
	border: solid #333;
	border-width: 1px 0;
	padding: 14px 0;
	width: 100%;
}
.author-box .photo img {
	float: left;
	margin: 6px 20px 0 0;
}
.author-box h5 {
	margin: 0 0 2px;
	font-weight: bold;	
}
.author-box h5 a {color: #fff;}
.author-box h5 a:hover {text-decoration: none;}
/* related box */
.related-box {
	overflow: hidden;
	padding: 7px 0 1px;
	width: 100%;
}
.related-box ul {
	overflow: hidden;
	padding: 3px 0 0;
	width: 540px;
	background: url(/assets/images/mimino/bg-related-box.png) repeat-y;
}
.related-box li {
	display: inline-block;
	vertical-align: top;
	margin: 0 17px 0 0;
	width: 115px;
	line-height: 16px;
	font-size: 11px;
}
.related-box .visual img {
	vertical-align: top;
	margin: 0 0 8px;
}
.related-box p {margin: 0 0 1px;}
.related-box p a {color: #fff;}
.related-box p a:hover {text-decoration: none;}
.related-box .date {
	display: block;
	padding: 0 0 0 21px;
	line-height: 18px;
	font-size: 10px;
	font-style: normal;
	text-transform: uppercase;
	color: #333;
	background: url(/assets/images/mimino/bg-date.png) no-repeat 0 14px;
}
/* comments */
.comments-block {margin: -9px 0 -15px;}
.comments-block .comment {padding: 12px 0 17px;}
.comment .photo {
	float: left;
	margin: 4px 20px 0 0;
}
.comment .photo img {vertical-align: top;}
.comment .txt {
	display: table;
	height: 1%;
}
.comment .name {line-height: 16px;}
.comment .name a {color: #fff;}
.comment .name a:hover {text-decoration: none;}
.comment .date {
	display: block;
	margin: 0 0 7px;
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
}
.comment p {margin: 0 0 7px;}
.comment .links {
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
}
.comment .links a {
	margin: 0 10px 0 0;
	color: #fff;
}
.comment .links a:hover {text-decoration: underline;}
.reply {
	margin: 0 0 0 20px;
	border-left: 1px solid #333;
	padding: 4px 0 0 20px;
	background: url(/assets/images/mimino/sep.png) no-repeat -15px 40px;
}
/* form comment */
.form-comment {padding: 0 0 15px;}
.form-comment .row {
	overflow: hidden;
	padding: 7px 0 9px;
	width: 100%;
}
.form-comment label {
	float: left;
	margin: 0 0 0 285px;
	line-height: 30px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
}
.form-comment .text {
	float: left;
	margin: -30px 0 0;
	border: 1px solid #333;
	padding: 0 17px;
	width: 224px;
	background: #222;
}
.form-comment .text input {
	outline: none;
	float: left;
	margin: 0;
	border-style: none;
	padding: 7px 0;
	width: 100%;
	background: none;
}
.form-comment .textarea {
	overflow: hidden;
	border: 1px solid #333;
	padding: 0 0 0 17px;
	width: 501px;
	background: #222;
}
.form-comment .textarea textarea {
	outline: none;
	float: left;
	overflow: auto;
	margin: 0;
	border-style: none;
	padding: 7px 0;
	width: 501px;
	min-width: 501px;
	max-width: 501px;
	height: 84px;
	min-height: 84px;
	background: none;
}
.form-comment .submit {
	float: left;
	overflow: hidden;
	margin: 4px 0 0;
	border: 1px solid #fff;
	padding: 0 15px !important;
	height: 30px;
	line-height: 14px;
	font-size: 10px;
	text-transform: uppercase;
	color: #222;
	background: #fff;
	cursor: pointer;
}
.form-comment .submit:hover,
.form-comment .hover {
	border: 1px solid #222;
	color: #fff;
	background: #000;
}
.form-comment .link-cancel {
	float: left;
	margin: 9px 0 0 13px;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	color: #ea3a3a;
}
.form-comment .link-cancel:hover {
	text-decoration: underline;
	color: #ea3a3a;
}
/* post list */
.post-list {padding: 0 0 16px;}
.post-type1 {
	margin: 0 0 24px;
	padding: 7px 0 6px;
	border-bottom: 1px solid #333;
	line-height: 21px;
}
.post-type1 .title {padding: 0 0 6px;}
.post .date-box {
	float: left;
	overflow: hidden;
	margin: 0 20px 0 0;
	border-right: 1px solid #333;
	padding: 1px 0 0;
	width: 86px;
	font-family: 'Merriweather', serif;
	font-size:11px;
	line-height:14px;
	/*font: 11px/14px Georgia, Times, serif;*/
	color: #fff;
}
.post .date-box .day {
	float: left;
	margin: -4px 7px 0 0;
	line-height: 36px;
	font-size: 30px;
}
.post .date-box .month {
	float: left;
	width: 40px;
}
.post-list .post .more {
	color: #fff;
	background: url(/assets/images/mimino/bullet-more-hover.png) no-repeat 100% 6px;
}
.post-list .post .more:hover {text-decoration: none;}
.post-info {
	overflow: hidden;
	margin: 16px 0 0;
	border-top: 1px solid #333;
	padding: 10px 0 5px;
	width: 100%;
	line-height: 14px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
}
.post-info .holder {
	overflow: hidden;
	width: 520px;
}
.post-info .box {
	float: left;
	padding: 0 10px 0 0;
	width: 120px;
}
.post-info .title {
	display: block;
	padding: 0;
}
.post-info a {color: #fff;}
.post-info a:hover {text-decoration: underline;}
.post-info ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}
.post-info ul li {
	display: inline;
	color: #fff;
}
.post-type2 {
	margin: 0 0 19px;
	border-bottom: 1px solid #333;
	padding: 6px 0 7px;
}
.post-type2 .title h4 {margin: 0 0 9px;}
.post-sector {
	overflow: hidden;
	padding: 3px 0;
	width: 100%;
}
.post-sector .txt {
	display: table;
	height: 1%;
}
.post-area {
	float: left;
	margin: 0 30px 0 0;
	padding: 2px 0 0;
	width: 120px;
}
.post-area .date-box {
	float: right;
	margin: 0;
	border-right: none;
	padding: 0 0 9px;
	width: auto;
}
.post-area .date-box .day {margin: -4px 5px 0 0;}
.post-area .date-box .month {width: 30px;}
.post-area .post-info {
	margin: 0;
	border-top: none;
	padding: 7px 0 0;
	text-align: right;
	background: url(/assets/images/mimino/sep.png) no-repeat 100% 0;
}
.post-area .post-info .box {
	float: none;
	padding: 0 0 7px;
	width: auto;
}
.post-type3 {
	margin: 0 0 16px;
	border-bottom: 1px solid #333;
	padding: 7px 0 0;
	line-height: 21px;
}
.post-type3 .tags-row {padding: 11px 0 0;}
.post-type4 {
	overflow: hidden;
	margin: 0 0 19px;
	border-bottom: 1px solid #333;
	padding: 7px 0 17px;
	width: 100%;
	line-height: 21px;
}
.post-type4 .txt {
	display: table;
	height: 1%;
}
.post-type4 .title {padding: 3px 0 0;}
.post-type4 .title h4 {margin: 0 0 7px;}
.post-type4 .meta {margin: 0 0 5px;}
.post-type4 .alignleft {
	float: left;
	margin: 7px 20px 0 0;
}
* html .post-type4 .alignleft {margin: 7px 17px 0 0;}
*+html .post-type4 .alignleft {margin: 7px 17px 0 0;}
.post-type4 .alignright {
	float: right;
	margin: 7px 0 0 20px;
}
* html .post-type4 .alignright {margin: 7px 0 0 17px;}
*+html .post-type4 .alignright {margin: 7px 0 0 17px;}
.post-type5 {
	margin: 0 0 16px;
	padding: 7px 0 0;
	line-height: 21px;
}
.post-type5 p {margin: 0 0 15px;}
.post-list .post-type5 .more, .post-list .post-type5 .more:hover {color: #fff; padding: 5px 21px 5px 8px; background: #000 url(/assets/images/mimino/bullet-more-white.png) no-repeat 92% 11px !important;}
.post-type5 .tags-row {
	margin: 22px 0 0;
	border-top: 1px solid #333;
	padding: 9px 0 0;
}
/* paging */
.paging {padding: 0 0 24px;}
.paging .title {
	padding: 0 0 7px;
	line-height: 14px;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
}
.paging .holder {
	position: relative;
	overflow: hidden;
	border-top: 1px solid #333;
	padding: 3px 0 0;
	width: 100%;
	text-align: center;
}
.paging .frame {
	position: relative;
	left: 50%;
	float: left;
	text-align: center;
}
.paging ul {
	position: relative;
	left: -50%;
	float: left;
}
.paging ul li {
	float: left;
	padding: 0 6px 0 8px;
	background: url(/assets/images/mimino/sep-paging.png) no-repeat 0 50%;
}
.paging .first {
	margin: 0 16px 0 0;
	background: none;
}
.paging .prev {background: none;}
.paging .last {
	margin: 0 0 0 16px;
	background: none;
}
.paging a {color: #fff;}
.paging a:hover {text-decoration: underline;}
/* sidebar */
#sidebar {
	float: right;
	padding: 10px 0 0;
	width: 200px;
}
/* form search */
.form-search {margin: 0 0 30px;}
.form-search .text {
	overflow: hidden;
	border: 1px solid #333;
	padding: 0 8px;
	height: 1%; 
	background: #222;
}
.form-search .text input {
	outline: none;
	float: left;
	margin: 0;
	border-style: none;
	padding: 7px 0;
	width: 100%;
	background: none;
}
/* side box */
.side-box {
	padding: 14px 0 8px;
	line-height: 18px;
	background: url(/assets/images/mimino/sep.png) no-repeat;
}
.side-box h6 {
	margin: 0 0 8px;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}
/* nav */
.side-box ul {
	margin: 0 0 17px;
	padding: 0;
	list-style: none;
}
/* photo box */
.photo-box {
	overflow: hidden;
	padding: 5px 0 18px;
	width: 200px;
}
.photo-box ul {
	overflow: hidden;
	margin: 0;
	width: 204px;
}
.photo-box li {
	display: inline-block;
	vertical-align: top;
	margin: 0 1px 4px 0;
}
.photo-box img {vertical-align: top;}
/* popular list */
.popular-list,
.side-box .popular-list {
	overflow: hidden;
	margin: 0 0 1px;
	width: 100%;
	line-height: 16px;
}
.popular-list li {
	overflow: hidden;
	margin: -9px 0 9px;
	border-top: 1px solid #333;
	padding: 9px 0 12px;
	width: 100%;
}
.popular-list .visual img {
	float: left;
	margin: 4px 8px 0 0;
}
.popular-list p {margin: 0;}
.popular-list a {color: #fff;}
.popular-list a:hover {text-decoration: none;}
.popular-list .date {
	padding: 0 0 0 21px;
	line-height: 16px;
	font-size: 10px;
	font-style: normal;
	text-transform: uppercase;
	color: #333;
	background: url(/assets/images/mimino/bg-date.png) no-repeat 0 11px;
}
/* project box */
.project-side {
	padding: 5px 0 9px;
	line-height: 16px;
}
.project-side .visual img {
	display: block;
	margin: 0 0 10px;
}
/* project overview */
.project-overview {line-height: 21px;}
.project-overview h6,
.side-box .project-overview h6 {margin: 0 0 1px;}
.project-overview p {margin: 0 0 6px;}
.project-overview ul,
.side-box .project-overview ul {margin: 0 0 6px;}
.project-overview a {color: #fff;}
.project-overview a:hover {text-decoration: underline;}
/* footer */
#footer {
	border-top: 1px solid #333;
	padding: 15px 0 50px;
	width: 100%;
}
#footer h5 {
	margin: 0 0 15px;
	font-weight: bold;
	color: #fff;
}
/* tweet list */
.tweet-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.tweet-list li {
	margin: -13px 0 13px;
	border-top: 1px solid #333;
	padding: 6px 0 5px;
}
.side-box .tweet-list {margin: 0;}
.side-box .tweet-list li {
	margin: -9px 0 9px;
	line-height: 21px;
}
.tweet-list p {margin: 0;}
.tweet-list a {color: #fff;}
.tweet-list a:hover {text-decoration: underline;}
.tweet-list .date {
	display: block;
	padding: 1px 0 1px 21px;
	font-style: normal;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
	background: url(/assets/images/mimino/bg-date.png) no-repeat 0 16px;
}
/* photo list */
.photo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.photo-list li {
	padding: 1px 0 11px;
	width: 100%;
	vertical-align: top;
}
.photo-list .visual {
	display: block;
	position: relative;
	overflow: hidden;
	width: 165px;
	height: 125px;
}
.photo-list img {display: block;}
/* listened list */
.listen-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.listen-list li {
	overflow: hidden;
	margin: -13px 0 13px;
	border-top: 1px solid #333;
	padding: 6px 0 10px;
	width: 100%;
	line-height: 14px;
	font-size: 11px;
}
.listen-list .visual {
	position: relative;
	float: left;
	margin: 7px 10px 0 0;
	overflow: hidden;
	width: 65px;
	height: 65px; 
}
.listen-list .visual img {display: block;}
* html .listen-list .visual {margin: 7px 7px 0 0;}
*+html .listen-list .visual {margin: 7px 7px 0 0;}
.listen-list .txt {
	display: table;
	height: 1%;
}
.listen-list .title {line-height: 21px;}
.listen-list .event {color: #333;}
.listen-list p {margin: 4px 0 7px;}
.listen-list a {color: #fff;}
.listen-list a:hover {text-decoration: underline;}
/* bottom block */
.bottom-block {
	position: relative;
	border-top: 1px solid #333;
	padding: 15px 0;
	width: 100%;
	line-height: 18px;
	font-size: 11px;
	color: #777;
}
.bottom-block p {margin: 0;}
.bottom-nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
.bottom-nav li {
	float: left;
	margin: 0 0 0 12px;
	padding: 0 0 0 15px;
	background: url(/assets/images/mimino/sep-bottom-nav.png) no-repeat 0 50%;
}
.bottom-nav li a {
	text-decoration: none;
	color: #777;
}
.bottom-nav li a:hover {color: #fff;}
.link-top {
	position: absolute;
	z-index: 100;
	/*
	bottom: 86px;
	right: -55px;
	*/
	bottom: 30px;
	right: 30px;
	overflow: hidden;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: url(/assets/images/mimino/bg-link-top.png) no-repeat;
}
ol {
	margin: 0;
	padding: 0 0 1px 16px;
	line-height: 23px;
	height: 1%;
	overflow: hidden;
	counter-reset: item;
}
ol li {display: block;}
ol li:before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}
/*	contact form message */
#message-note{
	font-size:11px;
	color:#ea3a3a;
}
#message-note ul {
	margin-left:2px;
	background:none;
}
#message-note ul li{
	padding-bottom:5px;
	background: none;
	margin:0;
	padding:0;
}
#message-note .notification_ok h4 {
	color:#ea3a3a;
	font-style:normal;
}
/*	lastfm style */
#lastfm dl{
	position:relative;
	float:left;
	width:120px;
	height:65px;
	padding:0px 8px 8px 72px;
	margin:0 20px 20px 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#lastfm dl:hover,
#lastfm dl.hover{
	cursor:pointer;
}
#lastfm dl dt{
	position:absolute;
	left:0px;
	top:0px;
	width:65px;
	height:65px;
}
#lastfm dl dt a{
	position:absolute;
	top:0;
	left:0;
	width:65px;
	height:65px;
	z-index:100;
}
#lastfm dl dt a:hover{
	background:none;
}
#lastfm dl dd.lfm_song a{
	color:#fff;
	padding-bottom:0px;
	margin-bottom:-2px;
	margin-top:-4px;
	width:100px;
	display: table;
	height: 1%;
	line-height:14px;
}
#lastfm dl dd.lfm_song a:hover{
	text-decoration:underline;
}	
#lastfm dl dd.lfm_artist{
	display: table;
	height: 1%;
	line-height:14px;	
	width:100px;
	padding-bottom:8px;
}
#lastfm dl dd.lfm_album{
	color:#333;
	display: table;
	height: 1%;
	line-height:14px;	
	width:100px;
	padding-bottom:8px;
}