/* @group General */

.column-fixed .form-container {
	margin:0 1em 1em 0;
}

.form-container {
	background:#f8f8f8!important;
	margin:0;
}

/*form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
}
form li{
	display:block;
	margin:0;
	padding:6px 0 9px;
	clear:both;
}*/

form li:after, form li div:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}

/* @end */



/* @group Buttons */

.button-primary, .button-secondary {
	text-decoration: none;
	font-size: 11px !important;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;	
	font-family: Lucida Grande, Verdana, Arial, sans-serif !important;
	font-weight: 700;
}

.button-primary {
	color: #FFF !important;
	border-color: #298cba !important;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
	background: #21759B url(../images/buttons/button-grad.png) repeat-x scroll left top;
}
.button-primary:active {
	background: #21759b url(../images/buttons/button-grad-active.png) repeat-x scroll left top !important;
}

.button-primary:hover {
	border-color: #13455b !important;
	color: #EAF2FA !important;
}

.button-secondary {
	border-color: #bbb;
	color: #464646;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
	background: #f2f2f2 url(../images/buttons/white-grad.png) repeat-x scroll left top;
}

.button-secondary:hover {
	color: #000;
	border-color: #666;
}

.button-secondary:active {
	background: #f2f2f2 url(../images/buttons/white-grad-active.png) repeat-x scroll left top;
}

/* @end */


/* @group Size */

input.small, select.small, label.small {
	width:25%!important;
}

input.medium, select.medium, textarea.medium, label.medium {
	width:65%!important;
}

input.large, select.large, textarea.large, label.large {
	width: 500px !important;
	font-size: 20px;
}

input.full, label.full {
	width:95%!important;
}

input.wide, label.wide, select.wide {
	width:91%!important;
}

select.full {
	width: 97%!important;
}

select.wide {
	width: 93%!important;
}

textarea.small {
	height:5em;
}

textarea.medium {
	height:7em;
}

textarea.large {
	height:  10em;
	width: 95%;
}

textarea.full {
	height: 10em;
	width: 97% !important;
}

textarea.wide {
	height:  7em;
	width: 91%;
}

textarea.rte, textarea.wysiwyg {
	height: 30em;
}

/* @end */


/* @group Labels */

form label, .portlet-content label {
	font:14px Arial, Helvetica, sans-serif;
	font-weight:700;
	clear: both;
	display:block;
	padding:3px 0;
	margin:10px 0;
	width: 120px;
	float: left;
}


form label.large {
	width: 220px;
}

.thru {
	margin: 20px 10px 0 10px; 
	font-weight: 700; 
	float: left;
}

/* @group Mobile ME Experiment */
/* Immitate Mobile ME login form input hints. Experimental. */

label.inlined + .input, label.inlined + .select, label.inlined + .textarea {
	position: relative; 
	z-index: 2;
	background: transparent !important;	
}

label.inlined {
	position: relative; 
	z-index: 1;
	margin-bottom: -39px;
	padding: 8px 0 8px 8px;
	background: transparent;
	color: #bbb;
	float: none !important;
	width: 200px;
}

label.inlined + .textarea {
	margin-top: 0px;
}

label.large{
	margin-bottom: -43px;
}

label.has-text {
	visibility: hidden;
}

/* @end */

/* @end */


/* @group Forms */



form{
	margin:0;
	padding:0;
}


form p{
	padding:0;
	margin:5px 0;
	clear:both;
}

form strong	{
	font-weight: 700;
}


form .fieldlist li input, form .fieldlist li label{
	display:inline;
	float:none;
}

.input, .filevalue, #docvalue, .textarea {
	background: #fff;
	border: 1px solid #aaa;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 5px;
	width: 380px;
	font-size: 14px;
	font-weight: 700;
	color: #bbb;
}

input.bold, select.bold, textarea.bold {
	color: #000;
}
.checkbox, .radio{
	margin: 10px 0 0 0;
}

.select{
	background: #fff;
	border: 1px solid #aaa;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 5px;
	width: 390px;
	font-size: 14px;
	font-weight: 700;
	color: #bbb;
}

.textarea{
	float: left;
	height: 200px;
	width: 385px;
	margin-top: 15px;
	overflow: auto;
	font-family: inherit;
}

.search {
	margin-top:10px;
}

/* @group Upload File */

.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width:150px;
}

.filevalue, #docvalue{
	float:none;
	width:195px;
}
#fakefile {
	position:absolute;
	border:0px solid #ddd;
	background-color:#f2f2f2;
	text-decoration:underline;
	font-weight:700;
	margin-top: 10px;
	color:#005083;
	width:125px;
	background:url(../images/icons/image_add.png) no-repeat;
	background-position:right
}

#fakefile_doc {
	position:absolute;
	border:0px solid #ddd;
	background-color:#f2f2f2;
	text-decoration:underline;
	font-weight:700;
	margin-top: 10px;
	color:#005083;
	width:125px;
	background:url(../images/icons/page_add.png) no-repeat;
	background-position:right
}

/* @end */
/* @end */